body {
    background: #242424;
    color: #ffffff;
    font-size: 16px;
    image-rendering: pixelated;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'AVR Joystix';
    src: url('fonts/joystix monospace.ttf')
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    width: 888px;
    height: 816px;
    background: url(images/map.png) no-repeat;
    z-index: -1;
}

#statBox {
    position: absolute;
    top: 8px;
    left: 352px;
}

#itemTrackerBox {
    position: absolute;
    top: 8px;
    left: 720px;
}

p, label {
    font-family: 'AVR Joystix', serif;
}

.locked {
    margin: 3px;
    box-shadow: 1px 1px #000000;
    background-color: #e00000;
    width: 5px;
    height: 5px;
}

.unlocked {
    margin: 3px;
    box-shadow: 1px 1px #000000;
    background-color: #2040ff;
    width: 5px;
    height: 5px;
}

.collected {
    margin: 3px;
    box-shadow: 1px 1px #000000;
    background-color: #00c000;
    width: 5px;
    height: 5px;
}

select {
    font-family: 'AVR Joystix', serif;;
    font-size: 16px;
    background: #242424;
    color: #ffffff;
    border: none;
}

th {
    padding: 12px;
}

th > img {
    transform: scale(2);
}

.itemUncollected {
    filter: grayscale(1) brightness(0.5);
}

.itemCollected {
    filter: grayscale(0)  brightness(1);
}

#connectionStatus {
    position: absolute;
    top: 8px;
    left: 16px;
}

#requiredPowers {
    position: absolute;
    top: 248px;
    left: 888px;
}

.disconnected {
    color: #e00000;
}

.connected {
    color: #00c000;
}

.itemsCounted {
    position: relative;
}

.collectCounter {
    position: absolute;
    top: 4px;
    left: -2px;
}
